body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: start; 
    align-items: start;
    background-color: #55585a; 
    padding: 20px 40px;
    height: 160px;
    width: 1200px;   
    margin: 0 ;  
    border-radius: 6px; 
}

.logo-nav {
    height: 141.72px;
    width: 146.91px;
    Top: 10.9px;
    left: 15.91px;
}

.nav-item {
    margin-left: 0; 
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 50px;
    gap: 40px; 
    width: 1064px;
    height: 27px;
    top: 66px;
    left: 296px;

}

.nav-list a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    
}

.small-rect {
    height: 2px;
    width: 12px;
    background-color: #ffcc00;
    opacity: 1; 
    top: 78px;
    left: 296px;
    
}

.nav-list a:hover {
    color: #ffcc00;
}
